<div class="top">
	<h1>welcome to  <span class="glyphicon glyphicon-book black" aria-hidden="true"></span>Bookers!!</h1>
	<p>In <span class="glyphicon glyphicon-book black" aria-hidden="true"></span><strong>Bookers,</strong>
	<p>you can share and exchange your opinions, inpressions, and emotions<br>about various books!</p>
	<div><%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %></div>
	<div><%= link_to "Sign up", new_user_registration_path, class: "btn btn-success" %><div>
	<p class="copyright">CopyRight Infratop.inc</p>
</div>