// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//topアクションのcss

.top {
	text-align: center;
}

.btn {
	width: 300px;         //ログインとログアウトボタンの横幅を指定した
}




//aboutアクションのcss

.welcome {
	padding-left: 300px;
}

.copy {
	padding-left: 1070px;
}